.container{
  border: 1px solid black;
  text-align: center;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 20px;
}
.strike{
  text-decoration: line-through;
}
h1{
  text-align: center;
 
}
.form-group{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 20px;
}
.btn-primary {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border: 3px solid green;
  padding: 10px;
}